.dashboard-card {
  border: none;
  border-radius: 15px;
}

.action-card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.action-card:hover {
  transform: translateY(-5px);
}

.action-card h1 {
  font-size: 55px;
}